.currency-input-wrapper {
  position: relative;
}

.currency-input-wrapper::before {
  content: '$';
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

input[type=number] {
  padding-left: 25px;
}



